@import "variables.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
	font-family: $main-font;
	line-height: 1;
	font-weight: 400;
	font-size: $font-size;
	overflow-x: hidden;

	color: $white;
	background-color: $black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

:focus,
:active {
	// outline: none;
}

a:focus,
a:active {
	// outline: none;
}

html,
body {
	height: 100%;
}

input,
button,
textarea {
	font-family: $main-font;
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}