.building
  .building__container._container
    .elevator__container
      .elevator#elevator(style.top = `85.50%`)
        .elevator__door.elevator__door--left
        .elevator__door.elevator__door--right
    .floors__container
      .floor
        button(disabled).floor__btn.floor__btn--active.floor__btn--first 1

      .floor
        button.floor__btn 2

      .floor
        button.floor__btn 3

      .floor
        button.floor__btn 5

      .floor
        button.floor__btn 6

      .floor
        button.floor__btn 7