$body-bg-color: #292929;
$bg-black: #292929;
$red: rgb(106, 0, 0);
$green: rgb(0, 106, 0);
$gray: #8F8F8F;
$main-color: #000;

$main-font: Helvetica;

$font-size: 14px;

$line-height: 24px;

$max-width: 1503;